@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    text-decoration: none;
    list-style: none;
    margin: 0%;
    scroll-behavior: smooth;
    padding: 0;
   
    overflow-x: hidden;
  
}
::-webkit-scrollbar{
    width:15px;
  
}
::-webkit-scrollbar-track{
    background:white ;

}
::-webkit-scrollbar-thumb{
    background:#32729A ;
    border-radius: 30px;
}
/*NAV*/
nav{
    height: 70px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#32729A;
    color: white;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 5;
}
.logo {
   width:110px;
   height: 20PX;
   display: flex;
   font-size: 10px;
   justify-content: space-between;
   align-items: flex-end;
   margin-right: 30px;

}
.logo img{
  width: 25px;
   height: 25PX;
   
}

nav .fa-bars{
  display: none;
  margin-left: 30px;
}
.items{
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;

}


nav ul{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    font-size: 15px;
}
nav ul li:not(:first-child){
    display: flex;
    justify-content: space-between;
    width: 110px;
}
nav ul li a{
  color: white;
}
nav input{
border-radius: 40px;
width: 150px;
height: 30px;
border: none;
display: flex;
justify-content: center;
text-align: center;
font-size: 15px;
font-weight: bold;
color: #32729A;
}

.input-with-icon {
    position: relative;
    width: 500px;
  }

  .input-with-icon input {
    padding-left: 40px;
  }

  .input-with-icon .icon {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 15px;
    height: 15px;
    font-size: 15px;
    transform: translateY(-50%);
    color: #32729A;
  }
@media screen and (max-width:1024px)  {
  nav .fa-bars{
    display: block;
  }
  button:hover,input:hover{
    transform: none;
   
  }
  .items ul{
    flex-direction:column ;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
  }
  nav{
    justify-content: space-between;
  }
  .items{
    display: flex;
    flex-direction:column ;
    height: 100%;
   position:fixed ;
   top: 70px;
  right: 0;
  transform: translateX(-100%);
 text-align: center;
   width: 100%;
   background-color:#32729A;
   box-shadow: 7px 2px 4px 0 rgba(0,0,0,.2);
   transition: 0.5s;
   overflow-x: hidden;
   
 }
 .active-barre{
  transform: translateX(0%);  
  transition: 0.5s; }
  .input-with-icon{
    display: none;
  }

}
  /*PAGE 3*/

form.semestre1, form.semestre2
{
  padding: 100px ;
  margin: auto;
  overflow: hidden;
}
#center{
  display: flex;
  justify-content: center;
  padding: 40px;
  
}

#module1 {
  display: flex;
  justify-content: space-around;
  
}
#cc{
  padding-left: 21%;
  padding-right: 21%;
}

#module label  {
  width: 100px;
  display: inline-block;
  padding-top: 10px;

}

#module {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#module input , #moyen , #moyens{
    
    background-color: #88968542;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    text-align: center;

}

#col {
  display: flex;
  flex-direction: column;
}

.line{
    width: 85%;
    margin-top: 200px;
    border-bottom: 1px solid #32729A;
}
#module0{
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  margin: 10px;
  background-color: #32729A;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
}
  @media screen and (max-width:785px){
    #module1{
      max-width: 700px;
    }
    #module{
      display: flex;
      justify-content: space-between;
    }
    #module input {
      width: 130px;
      height: 60px;

    }
    #moyen , #moyens{
      width:130px;
      height: 60px;

    }
  }
  @media screen and (max-width:670px) {
  
    #center{
      font-size: 20px;
      padding-top: 100px;
    }
    #module input, #moyen, #moyens{
      width: 100px;
      height: 40px;
      margin: 5px;
    }
    #module1 h3{
      font-size: 13px;
      text-align: center;
      align-items: center;
      padding: 10px;
    }
    #module label {
      font-size: 13px;
    }
    form.semestre1, form.semestre2{
      margin: auto;
      padding: 10px;
    }
    #module{
      display: flex;
     justify-content: space-between;
      
    }
    #button{
      padding: 12px;
    }
    #module0{
      align-items: center;
    }
    
  }

/*footer*/
.up {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.up {
  height: 4px;
}
.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
hr {
  width: 80%;
  height: 2px;
  color: #555555;
}
.down h4 {
  font-family: "poppins";
  font-size: 17px;
  line-height: 22.4px;
  vertical-align: baseline;
  letter-spacing: normal;
  font-weight: 300;
}
.down p {
  max-width: 60%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
.haut,
.bas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: black;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
footer ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
}
footer ul li a:hover {
  color: #32729a;
  font-size: 16px;
  transition: 0.5s;
}
