@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Montserrat:wght@200;600&family=Open+Sans:wght@300;400&display=swap");
body {
  font-family: "Inter", sans-serif;
}

/*footer*/
.up {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.up {
  height: 4px;
}
.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
hr {
  width: 80%;
  height: 2px;
  color: #555555;
}
.down h4 {
  font-family: "poppins";
  font-size: 17px;
  line-height: 22.4px;
  vertical-align: baseline;
  letter-spacing: normal;
  font-weight: 300;
}
.down p {
  max-width: 60%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
.haut,
.bas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: black;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
footer ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 3px;
}
footer ul li a:hover {
  color: #32729a;
  font-size: 16px;
  transition: 0.5s;
}
footer img {
  width: 40px;
}
/*scroll-up btn*/
.scroll-up-button {
  background-color: white;
  border-radius: 50%;
  display: flex;
  border: none;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.scroll-up-button svg {
  width: 40px;
}
#scroll-up {
  position: fixed;
  bottom: 15px;
  left: 100px;
  width: fit-content;
  z-index: 2;
  overflow: hidden;
}
.caché {
  display: none;
}

.module-template {
  padding-top: 70px;
}
/*ASD3*/
.menu {
  height: 675px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu div {
  margin: 30px;
}
.title h2 {
  font-size: 150px;
  color: #32729a;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.buttons-menu button {
  background-color: #32729a;
  height: 55px;
  width: 250px;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.chapitres-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*infos*/
.infos-carres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.element {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*max-width: 60%;*/
  height: auto;
  margin: 35px;
}

/*titre-element*/
.titre-element {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 910px;
  height: 45px;
  background-color: #c9c9c9;
  border-radius: 25px;
  font-size: 12px;
  margin-bottom: 15px;
}
.titre-element-p1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #32729a;
  border-radius: 25px;
  height: 45px;
  width: 200px;
}
.titre-element-p2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #87d1cf;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.titre-element h2 {
  color: white;
}

/*texte-element*/
.texte-element,
.nv-elemnt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #32729a;
  color: black;
  width: 910px;
  height: auto;
}
.element img {
  width: 750px;
  margin: 15px;
}
.texte-element p,
.nv-elemnt p,
.img-element img {
  margin: 15px;
}
.p-element {
  color: black;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.img-element {
  border-radius: 20px;
  margin: 17px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.general-infos h1 {
  margin-left: 40px;
  font-size: 45px;
  color: #32729a;
  font-family: "El Messiri";
}

/*doc lien*/
.divs-pdf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc {
  border: 1px solid #32729a;
  border-radius: 15px;
  color: #32729a;
  width: 155px;
  margin: 35px;
}
.doc svg {
  width: 40px;
}
.doc a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #32729a;
}

/*example css width height*/
.example {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.btnw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 200px;
}

.example img {
  height: 300px;
  width: 300px;
}
.example button {
  background-color: #32729a;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  line-height: 38px;
  cursor: pointer;
  transition: 0.5s;
}
.example button:hover {
  background-color: white;
  color: #32729a;
  border: #32729a 1px solid;
}
.example .active {
  display: none;
}
.example .aex {
  height: 100px;
  width: 200px;
}
.ex {
  border: #32729a solid 1px;
  margin: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wh {
  height: 200px;
  width: 100px;
  background-color: #32729a;
}
/*test text*/
.text1 {
  font-family: fantasy;
  margin: 5px;
}
.text2 {
  color: red;
}
.text3 {
  font-size: 25px;
  margin: 5px;
}
/*liste test*/
.ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: white;
  width: 100%;
  height: 50px;
  background-color: #32729a;
}
.off-css {
  list-style: initial;
}
/*zindex test*/
.z1 {
  background-color: red;
  height: 100px;
  width: 100px;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.z2 {
  background-color: green;
  height: 100px;
  width: 100px;
  position: relative;
  left: 15px;
  bottom: 70px;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.az {
  z-index: 0;
}
/*link test*/
.ex .a {
  color: white;
  background-color: #32729a;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 25px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*respo tablet*/
@media screen and (max-width: 768px) {
  .element img {
    width: 300px;
  }
  .element,
  .texte-element,
  .img-element,
  .titre-element,
  .p-element,
  .nv-elemnt {
    width: 600px;
    overflow: visible;
  }
  .p-element {
    margin-right: 25px;
  }
  .interactif {
    flex-direction: column;
    justify-content: center !important;
    height: auto !important;
    width: 500px !important;
  }

  .display-grid-sinjab {
    margin-left: 0 !important;
  }

  .respo-ecran {
    margin-left: 0 !important;
  }
  .h-images,
  .selectorimgss {
    flex-direction: column;
  }

  .ex {
    height: 200px;
    width: 200px;
  }
  .z1 {
    position: relative;
    top: 20px;
  }
  .z2 {
    bottom: 40px;
  }
  .example {
    display: flex;
    flex-direction: column;
  }
  .example img {
    width: 170px;
    height: 120px;
  }
  .display {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .displays {
    margin-top: 30px;
  }
  .divs-pdf {
    flex-direction: column;
  }
  .p-element.interaction p,
  .interaction {
    margin-right: 35px !important;
  }
}
/*respo tablet s et s*/
@media screen and (max-width: 762px) {
  .example {
    display: flex;
    flex-direction: column;
  }
  .example img {
    width: 170px;
    height: 120px;
  }
  .display {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .displays {
    margin-top: 30px;
  }
  .divs-pdf {
    flex-direction: column;
  }
}
/*respo tel*/
@media screen and (max-width: 480px) {
  .element,
  .divs-pdf {
    margin-right: 140px;
  }
  #TD {
    margin-right: 150px;
  }
  .divs-pdf {
    flex-direction: column;
  }
  .menu {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title h2 {
    font-size: 75px;
  }
  .menu div {
    margin: 0;
  }
  .buttons-menu button {
    background-color: #32729a;
    height: 55px;
    width: 150px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .element img,
  .h-images img {
    width: 200px !important;
  }
  iframe {
    width: 230px;
    height: 150px;
  }
  .element,
  .texte-element,
  .img-element,
  .titre-element,
  .p-element,
  .nv-elemnt {
    width: 332px;
    overflow: visible;
    text-align: left;
  }
  .interactif {
    width: 300px !important;
  }
  .display-flex-sinjab img,
  .display-grid-sinjab img {
    width: 45px !important;
  }
  p {
    max-width: 90%;
    height: auto;
    word-break: break-word;
  }

  .margin {
    width: 250px !important;
    height: 100px !important;
    border: 10px solid #87d1cf;
    margin: 15px;
  }
  .border {
    width: 230px !important;
    height: 80px !important;
    border: 10px solid #555555;
  }
  .padding {
    width: 210px !important;
    height: 60px !important;
    border: 10px solid #32729a;
  }
  .poo-grand-titre {
    font-size: 18px !important;
  }
  .btn-poo-tel {
    font-size: 18px !important;
  }
  .titre-element-p1.constucteur {
    width: 200px !important;
  }
  .titre-element-p1.constucteur h2 {
    font-size: 14px;
  }
}

.titre-element-p1.constucteur {
  width: 300px;
}
/*css exemples interactifs couleurs -> padding*/
.displays {
  display: flex;
  flex-direction: column;
}
.displays button:hover {
  background-color: white;
  color: #32729a;
  border: #32729a 1px solid;
  transition: 0.5s;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.colors {
  color: #32729a;
  /* ou bien color : blue; */
}

.backG {
  background-color: #32729a;
  color: white;
}
.bord {
  border-radius: 13px;
  padding: 10px;
  width: 120px;
  border-color: #32729a;
  border-style: solid;
}
#border,
#images,
#image,
#background,
#color {
  width: 250px;
}

.displays button {
  margin: 8px;
  padding: 7px;
  border-radius: 13px;
  padding: 10px;
  width: 120px;
  background-color: #32729a;
  border-style: none;
  color: white;
  cursor: pointer;
}
/*imgs partie html*/
.h-images,
.selectorimgss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul img,
.h-images img {
  width: 400px;
}

.semantic-img {
  width: 200px !important;
}
/*partie boxmodel*/
.margin {
  width: 350px;
  height: 200px;
  border: 10px solid #87d1cf;
  margin: 15px;
}
.border {
  width: 330px;
  height: 180px;
  border: 10px solid #555555;
}
.padding {
  width: 310px;
  height: 160px;
  border: 10px solid #32729a;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*exemple interactif s*/
.interactif {
  width: 850px;
  height: 230px;
  margin: 15px;
  border: 1px solid #32729a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interactif img {
  width: 300px;
}
iframe {
  margin: 15px;
}
.btn-overflow,
.btn-opacity,
.btn-flex {
  width: 150px;
  height: 55px;
  border-radius: 17px;
  background-color: #32729a;
  color: white;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.overflo {
  width: 250px;
  height: 200px;
  margin: 15px;
  border: 1px solid #32729a;
  position: relative;
  overflow: hidden;
}

.onoverflow {
  overflow: visible;
}
.overflo img {
  position: absolute;
  right: -65px;
  width: 150px;
}

.opacity {
  width: 250px;
  height: 200px;
  margin: 15px;
  border: 1px solid #32729a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onopacity {
  opacity: 0.5 !important;
}
.sinjab {
  width: 150px !important;
  opacity: 1;
}

/*flexbox*/
.flex-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.flex-sinjab {
  width: 40px !important;
  height: 40px;
}
.display-flex-sinjab,
.display-grid-sinjab {
  width: 250px;
  height: 200px;
  margin: 15px;
  border: 1px solid #32729a;
  display: flex;
}
.ttcenter {
  align-items: center;
  justify-content: center;
}
.spacear {
  align-items: center;
  justify-content: space-around;
}
.spacebet {
  align-items: center;
  justify-content: space-between;
}
.spaceven {
  align-items: center;
  justify-content: space-evenly;
}
.alignstart {
  align-items: flex-start;
}
.alignend {
  align-items: flex-end;
}
/* boxmodel part2*/
.grr {
  color: #87d1cf;
}
.greyy {
  color: #555555;
}
.blu {
  color: #32729a;
}
/*grid*/
.display-grid-sinjab {
  display: grid !important;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(3, 33%);
  margin-left: 120px;
}
.sinjab-grid {
  width: 45px !important;
}
/*last modifs*/
.respo-ecran {
  margin-left: 110px;
}
.snap-img {
  width: 360px !important;
}

.selectorimgss img {
  width: 250px;
}
.js {
  background-color: grey !important;
}
.img-sens {
  color: #32729a;
}
.css-lien-btn {
  text-decoration: none;
  color: #32729a;
}
